<footer id="footer">
  <hr/>
  <span id="copyright">&copy; 2016-<%= date(new Date(), 'YYYY') %> <a href="<%- url_for() %>"><%= config.author%>, <%= config.title %></a></span>
  <span>License: <%- link_to("https://creativecommons.org/licenses/by-nc/4.0/", "Creative Commons Attribution-NonCommercial 4.0 International License (CC BY-NC 4.0)", {external: true}) %></span>
</footer>